---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: "[Comment faire] Publier et d’analyser les résultats des tests ? | Microsoft Docs"
author: rick-anderson
description: "Visual Studio Team System permet aux modifications de graphique de la qualité du code d’un projet en tant que le projet avance. Cette vidéo fournit des instructions sur la façon de publ...."
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 3f9d94e2fbbb53679b5af1d2f2a4abe1866f9e58
ms.sourcegitcommit: 9a9483aceb34591c97451997036a9120c3fe2baf
ms.translationtype: MT
ms.contentlocale: fr-FR
ms.lasthandoff: 11/10/2017
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="e7497-105">[Comment faire] Publier et d’analyser les résultats des tests ?</span><span class="sxs-lookup"><span data-stu-id="e7497-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="e7497-106">par [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="e7497-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="e7497-107">Visual Studio Team System permet aux modifications de graphique de la qualité du code d’un projet en tant que le projet avance.</span><span class="sxs-lookup"><span data-stu-id="e7497-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="e7497-108">Cette vidéo explique comment publier les résultats de test dans la base de données de projet Team Foundation Server et associez les résultats à un numéro de build.</span><span class="sxs-lookup"><span data-stu-id="e7497-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="e7497-109">Nous constatons que, une fois les résultats sont publiés nous pouvons utiliser le Gestionnaire de rapports pour afficher une représentation graphique des modifications apportées dans nos résultats de test de build.</span><span class="sxs-lookup"><span data-stu-id="e7497-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="e7497-110">&#9654; Regardez la vidéo (7 minutes)</span><span class="sxs-lookup"><span data-stu-id="e7497-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

>[!div class="step-by-step"]
<span data-ttu-id="e7497-111">[Précédent](how-do-i-use-generic-tests.md)
[Suivant](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="e7497-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
