---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Comment faire] Publier et analyser les résultats des tests ? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System vous permet de graphique change dans la qualité du code d’un projet en tant que le projet progresse. Cette vidéo fournit des instructions sur comment publ....
ms.author: aspnetcontent
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: eb59591d32191ed736786fda236f74b5104ef868
ms.sourcegitcommit: b28cd0313af316c051c2ff8549865bff67f2fbb4
ms.translationtype: MT
ms.contentlocale: fr-FR
ms.lasthandoff: 07/05/2018
ms.locfileid: "37833074"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="33cbc-105">[Comment faire] Publier et analyser les résultats des tests ?</span><span class="sxs-lookup"><span data-stu-id="33cbc-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="33cbc-106">par [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="33cbc-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="33cbc-107">Visual Studio Team System vous permet de graphique change dans la qualité du code d’un projet en tant que le projet progresse.</span><span class="sxs-lookup"><span data-stu-id="33cbc-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="33cbc-108">Cette vidéo explique comment publier les résultats des tests à la base de données de projet de Team Foundation Server et associer les résultats à un numéro de build.</span><span class="sxs-lookup"><span data-stu-id="33cbc-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="33cbc-109">Nous voyons qu’une fois que les résultats sont publiés nous pouvons utiliser le Gestionnaire de rapports pour afficher une représentation graphique des modifications apportées dans nos résultats de test de build.</span><span class="sxs-lookup"><span data-stu-id="33cbc-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="33cbc-110">&#9654;Regardez la vidéo (7 minutes)</span><span class="sxs-lookup"><span data-stu-id="33cbc-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="33cbc-111">[Précédent](how-do-i-use-generic-tests.md)
> [Suivant](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="33cbc-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
