---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Comment faire] Publier et analyser les résultats des tests ? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System vous permet de graphique change dans la qualité du code d’un projet en tant que le projet progresse. Cette vidéo fournit des instructions sur comment publ....
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: a575dd0af20bb1565606c93e5a189b7a3e35ff3d
ms.sourcegitcommit: 45ac74e400f9f2b7dbded66297730f6f14a4eb25
ms.translationtype: MT
ms.contentlocale: fr-FR
ms.lasthandoff: 08/16/2018
ms.locfileid: "41831735"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Comment faire] Publier et analyser les résultats des tests ?
====================
par [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System vous permet de graphique change dans la qualité du code d’un projet en tant que le projet progresse. Cette vidéo explique comment publier les résultats des tests à la base de données de projet de Team Foundation Server et associer les résultats à un numéro de build. Nous voyons qu’une fois que les résultats sont publiés nous pouvons utiliser le Gestionnaire de rapports pour afficher une représentation graphique des modifications apportées dans nos résultats de test de build.

[&#9654;Regardez la vidéo (7 minutes)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Précédent](how-do-i-use-generic-tests.md)
> [Suivant](how-do-i-discover-application-changes-prior-to-deployment.md)
